<p>this is a dicectory:{{ mydict['key'] }} </p>
<p>this is a list:{{ mylist[3] }} </p>
<p>this is a object:{{ myobject.something() }} </p>

{% with mv = max(a, b) %}
{{ mv }}
{% endwith %}

{{ (a,b) | max }}

{{ a|upper }}

{{ (a,b) | max2 }}
